<%= form_for(@imported_file) do |f|%>
  <% if @imported_file.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @imported_file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :data %>
    <%= f.file_field :data %>
    <%# <%= f.file_field :data, required: true %>
  </div>
  <%= f.submit%>
<% end %>

